body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
    background-image: url(../image/pink.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
h1{
    color: rgba(238, 12, 99, 0.836);
    text-align: left;
    font-style: normal;
    font-size: 30px;
}
h2{
    color: rgb(0, 132, 255);
    text-align: center;
    font-style: italic;
    font-size: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}