body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
    background-image: url(../image/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
h1{
    color: red;
    text-align: left;
    font-style: normal;
    font-size: 40px;
}
h2{
    color: yellow;
    text-align: center;
    font-style: italic;
    font-size: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}